body {
  @apply overscroll-none bg-transparent;
}

:root {
  --font-sans: var(--font-inter);
  --header-height: calc(var(--spacing) * 12 + 1px);
  --primary: var(--color-fprimary-blue);
  --primary-foreground: var(--color-fblack-bg2);
}
